@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-nordic-beige: #f9f7f2;
    --color-brand-50: #f4f9f4;
    --color-brand-100: #e3f2e3;
    --color-brand-200: #c5e5c5;
    --color-brand-300: #98c998;
    --color-brand-400: #7ebb63;
    --color-brand-500: #5da042;
    --color-brand-600: #467f30;
    --color-brand-700: #386328;
    --color-brand-800: #2f4f41;
    --color-brand-900: #263f35;
    --color-brand-950: #1a2e26;
}

@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }

    .rotate-y-6 {
        transform: rotateY(6deg);
    }

    .rotate-x-6 {
        transform: rotateX(6deg);
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }
}